*~
*.exe
*.[oa]
*.eap
*.mwb
*.mwb.bak
*.rar
*.zip
*.z7
*.sql
codecept*
SQL
errors
errors/error_log*
nbproject
DB_Connection.php
ExternalResources/Oracle_modeler
ExternalResources/Notes
tests
tests/_output/*