body
{
background-color:#d0e4fe;
width: 84%;
allign: center;
}
table {
    border: #003AD9 thin solid;
    border-collapse: collapse;
    vertical-align: center;
}

.uwagi_ta{
    background: lemonchiffon;
    /*vertical-align: middle;*/
    width: 450px;
    height: 2em;
/*    columns: 160;*/
    
}

.tab_insert {
    width: 90%;
}

.tab_insert td{
    width: 12%; 
    text-align: left;
    /*border: 1px solid #003AD9;*/
}
.tab_insert td.label{
 
    text-align: right;

}

.table2 td{
    border: 1px solid black;
    width: 20%;
    height: 50px;
}
.table2 a{
    /*font-weight: bold;*/
    text-decoration: none;
}

.table2 a:hover{
    /*font-weight: bold;*/
    text-decoration: underline;
}

tbody {
    border: 1px solid #003AD9;
}

.edit_tab_contener {
    position: absolute;
    background: deepskyblue;
    /*opacity: 0.1;*/
/*    text-align: center;
    margin-right: auto; 
    margin-left: auto; */
    /*float: right;*/
    /*margin-left: 10%;*/
}

div#translacje {
    position: fixed;
    bottom: -80px;
    right: 0px;
    width: 11.4%;
    /*background-clip: red;*/     
    /*border: 1px solid black;*/
    margin-left: auto;
    margin-left: auto;
    text-align: left;
    z-index: 999;
}
div.floating_button_div{
    background: red;
    position: fixed;
    top: 10px;
    right: 180px;
}

div.flag {
    position: relative;
    bottom: 5px;
    right:5px;
    /*background-color: silver;*/
    /*padding: 2px;*/
    /*border: 1px solid #263666;*/
}

div.flag a{
    width: 100px;
    /*height: 25px;*/
    /*border: 1px solid black;*/
}

.print {
    background: white;
    width: 84%;
    /*border-collapse: collapse;*/
}
.print td, .print th{
    /*border-collapse: collapse;*/
    border-bottom: 1px black solid;
    border-left: 1px #003AD9 dotted;
    /*border-collapse: collapse;*/
    /*border: 0.5px #003AD9 solid;*/
    /*border: 1px 2px 3px 4px black solid;*/
}
.print th{
    background: silver;
}

.nobordtop {
    border-top: 0px solid #003AD9 ;
    /*border: 3px solid #003AD9;*/
}
.nobordbottom {
    border-bottom: 0px solid #003AD9 ;
    /*border: 3px solid #003AD9;*/
}

div.cleaner {
clear: both;

}

p.red {
color:red;
}
p.blue {
color:blue;
}
p.green {
color:green;
}
span.red {
color:red;
}
span.blue {
color:blue;
}
span.green {
color:green;
}

div.divLog {
    background: whitesmoke;
    position: fixed;
    bottom: 5px;
    right: 5px;
    border-radius: 5px;
    border: 1px #516ca3 solid;
    padding: 5px;
    width:180px;
    height:120px;
    font-size: 11px;
}

div.DBConn{
    position: fixed;
    bottom:140px;
    right: 5px;
    width: 180px;
    min-height: 50px;
    background: greenyellow;
    font-size: 10px;
    opacity: 0.3;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #00cccc;
    -moz-box-shadow: 0px 0px 6px #88a;
    -webkit-box-shadow: 0px 0px 6px #88a;
    box-shadow: 0px 0px 6px #88a; 
}
div.DBConn:hover{
    opacity: 1;
}
        
div.movingsearch {
    background: whitesmoke;
    opacity: 0.6;
    position: fixed;
    bottom: 250px;
    right: 5px;
    border-radius: 5px;
    border: 1px #516ca3 solid;
    padding: 5px;
    width:180px;
    font-size: 7px;
    z-index:999;
}
div.movingsearch input {
    font-size: 7px;
}
div.movingsearch select {
    font-size: 7px;
}

div.movingsearch:hover{
    opacity: 1;
/*    top: 5px;
    left: 5px;*/
    font-size: 14px;
    width:350px;
}
div.movingsearch:hover input {
    font-size: 14px;
}
div.movingsearch:hover select {
    font-size: 14px;
}
div.tab_info {
    /*background: gainsboro;*/
    /*float: left;*/
    width: 50%;
}
div.tab_info2 {
    background: red;
    /*float: left;*/
    /*width: 50%;*/
    position: fixed;
    top:5px;
    right: 180px;   
}

div.tab_stat {
    /*background: gainsboro;*/
    float: left;
    width: 15%;
}
div.guziki {
position:fixed;
top:5;
right:5px;
/*background: red;*/
background: whitesmoke;
width:150px;
padding:5px;
border:2px solid black;
}

div .box {
float: left;
width: 15%;
height: auto;
border: 2px solid grey;
}

div .wisp1 {
float: left;
width: 40%;
}

 /*
 .myButton {
        -moz-box-shadow:inset 0px 1px 0px 0px #ffe0b5;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffe0b5;
        box-shadow:inset 0px 1px 0px 0px #ffe0b5;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fbb450), color-stop(1, #f89306));
        background:-moz-linear-gradient(top, #fbb450 5%, #f89306 100%);
        background:-webkit-linear-gradient(top, #fbb450 5%, #f89306 100%);
        background:-o-linear-gradient(top, #fbb450 5%, #f89306 100%);
        background:-ms-linear-gradient(top, #fbb450 5%, #f89306 100%);
        background:linear-gradient(to bottom, #fbb450 5%, #f89306 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89306',GradientType=0);
        
        background-color:#fbb450;
        
        -moz-border-radius:7px;
        -webkit-border-radius:7px;
        border-radius:7px;
        
        border:1px solid #c97e1c;
        
        display:inline-block;
        color:#ffffff;
        font-family:Trebuchet MS;
        font-size:17px;
        font-weight:bold;
        padding:6px 11px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #8f7f24;
        
    }
    .myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f89306), color-stop(1, #fbb450));
        background:-moz-linear-gradient(top, #f89306 5%, #fbb450 100%);
        background:-webkit-linear-gradient(top, #f89306 5%, #fbb450 100%);
        background:-o-linear-gradient(top, #f89306 5%, #fbb450 100%);
        background:-ms-linear-gradient(top, #f89306 5%, #fbb450 100%);
        background:linear-gradient(to bottom, #f89306 5%, #fbb450 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f89306', endColorstr='#fbb450',GradientType=0);
        
        background-color:#f89306;
    }
	
    .myButton:active {
        position:relative;
        top:1px;
    }
	/**/
	
	
    .myButton {
        
        -moz-box-shadow: 4px 3px 0px 0px #284470;
        -webkit-box-shadow: 4px 3px 0px 0px #284470;
        box-shadow: 4px 3px 0px 0px #284470;
        
        background-color:#415989;
        
        -moz-border-radius:18px;
        -webkit-border-radius:18px;
        border-radius:18px;
        
        border:1px solid #1f2f47;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:11px;
        font-weight:normal;
        padding:5px 15px;
        text-decoration:none;
        
        text-shadow:0px 3px 0px #263666;
        
    }
    .myButton:hover {
        
        background-color:#516ca3;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
	/**/